/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-shadow: 0 0 1px black;
}

img {
    width: 100px;
} 

.happy-monkey-regular {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
}

#hero {
    background-image: url("/dist/Pascani-aerial-view.webp");
    background-size: cover;
    height: 250px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0px 0px 0px;
    border: 0 solid blue; 
    box-shadow: 0 0 20px inset #F1FAEE;
}

#title1 {
    background-color: #45cb85;
    color: #153131;
    padding: 8px 12px;
    border-radius: 10px;
    margin-bottom: 5px;
}

#title2 {
    background-color: #57e2e5;
    color: #153131;
    padding: 8px 12px;
    border-radius: 10px;
}

#activities-section {
    height: 378px;
    background: linear-gradient(#F1FAEE, #57e2e5, white);
    text-align: center;
    padding-top: 20px;
    color: #153131;
}


#act-list {
    display:flex;
    justify-content: space-around;
    
}

#act1 {
    padding: 10px;
    }
    
#act2 {
    padding: 10px;
    }
#act3 {
    padding: 10px;
    }

.act-img {
    height:100px;
    width: 100px;
    border: 2px solid #45CB85;
    border-radius: 50%;
    transition: transform .2s;
    overflow: hidden;
}

.act-img:hover {
  transform: scale(1.5);
}

#guide-section {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

#guide-card {
    margin: 50px 60px 100px 100px;
    width: 300px;
    background-color: #57e2e5;
    color: #153131;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-right: 6px solid #45cb85;
    border-radius: 10px;
    box-shadow: 4px 4px 10px black;
    transition: transform 0.2s;
}

#guide-card:hover {
    transform: scale(1.1);
}

#socials {
    display:flex;
    margin: 50px 50px 70px 0px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #153131;
}

#icon {
    width: 50px;
    height: 50px;
    background-image: url("/dist/Linkedin_logo.png");
    background-size: cover;
    border: 0px solid blue;
    overflow: hidden;
    transition: transform 0.2s;
}

#icon:hover {
    transform: scale(1.2);
}

#guide-card:hover {
    transform: scale(1.2);
}

#guide-descript {
    padding-right: 10px;
}

#guide-img {
    height: 180px;
    width: 170px;
    border: 0 solid black;
    border-radius: 10%;
}
